@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif;

  --purple-500: #6200ee;
  --purple-700: #3700b3;
  --teal-secondary: #03dac5;
  --primary-dark: #333;
  --primary-light: #eee;
  --secondary-light: #dedede;
  --toggle-green: rgb(110, 212, 110);
  --shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  border: none;
  margin: 0;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--primary-light);
}

#io {
  text-transform: lowercase;
}

.plus-button {
  color: var(--primary-light);
  cursor: pointer;
}

.header {
  box-shadow: var(--shadow);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--purple-500);
  position: relative;
  z-index: 10;
}

footer {
  background-color: var(--primary-light);
  padding: 3rem;
}

footer p {
  color: var(--primary-dark);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

main {
  flex: 1;
  position: relative;
  background-color: var(--primary-light);
}

.placeholder-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  pointer-events: none;
}

.placeholder-text {
  margin: auto;
  text-align: center;
  color: var(--primary-dark);
  font-size: 2rem;
}

.modal {
  position: fixed;
  z-index: 6;
  top: 50%;
  left: 50%;
  width: 300px;
  border-radius: 1rem;
  background-color: var(--purple-700);
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
  padding: 3rem;
  box-shadow: 2px 5px 10px 3px rgb(0, 0, 0, 0.15);
}

.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--primary-light);
}

.form-title {
  color: var(--primary-light);
  font-size: 2.5rem;
}

label {
  font-size: 1.8rem;
  vertical-align: middle;
  color: var(--primary-light);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.add-book-form button {
  width: 100%;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: all 0.25s ease-in-out;
  font-size: 1.75rem;
  border: 2px solid var(--purple-700);
}

input {
  padding: 1rem 2rem;
  font-size: 1.75rem;
  background-color: inherit;
  border: 1px solid var(--primary-light);
  border-radius: 1rem;
  color: var(--purple-700);
  transition: all 0.25s ease-in-out;
}

input::placeholder {
  color: #d1d1d1;
  font-weight: 100;
}

input[type="text"]:focus,
input[type="number"]:focus {
  appearance: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.75rem;
  background-color: var(--primary-light);
  color: var(--purple-700);
  box-shadow: 0 0px 25px rgba(238, 238, 238, 0.3);
}

input[type="text"]:focus::placeholder,
input[type="number"]:focus::placeholder {
  color: #3600b3c1;
}

.btn:hover {
  background-color: var(--purple-700);
  cursor: pointer;
  color: var(--primary-light);
  border: 2px solid var(--primary-light);
}

.form-submit-btn {
  color: var(--purple-700);
}

.form-submit-btn:hover {
  box-shadow: 0 0px 25px rgba(238, 238, 238, 0.3);
}

.plus-button:hover {
  color: var(--secondary-light);
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  position: relative;
  bottom: 0px;
  margin-left: 1rem;
}

/* Cards */

#books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: start;
  gap: 4rem;
  align-items: start;
  padding: 2rem;
  /* background-color: red; */
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  font-size: 2rem;
  padding: 3rem;
  background-color: var(--primary-light);
  border: 2px solid var(--purple-700);
  border-radius: 2rem;
  color: var(--purple-700);
  box-shadow: var(--shadow);
}

.bookTitle,
.bookAuthor,
.bookPages {
  font-weight: 600;
  border-bottom: 1px solid var(--purple-700);
  padding-bottom: 1.5rem;
  width: 95%;
  color: var(--purple-500);
}

.cardBtn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 10rem;
  margin: 1rem;
  color: var(--purple-500);
  border: 2px solid var(--purple-500);
  font-size: 1.32rem;
  text-align: center;
  font-weight: 500;
  background-color: var(--primary-light);
  transition: all 0.25s;
}

.cardBtn:hover {
  border: 2px solid var(--purple-700);
  color: var(--primary-light);
  cursor: pointer;
  background-color: var(--purple-700);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.readTrue {
  background-color: var(--primary-light);
  color: var(--toggle-green);
  border-color: var(--toggle-green);
}
